body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/loginbg.jpg");
  height: 100vh;
  color: #f8b700;



}
#login {
font-family: Semplicita Pro, Open Sans, Arial, Helvetica, sans-serif
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #000000;
  background-color: #261812;
  color: #f8b700;

}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

a {
  color: #f8b700;
}
.btn-login {
  color: #f8b700;
  background-color: rgba(159,22,0,.6);
  border-color: red;

}

.btn-login:hover {
  background-color: red
}